#!/usr/bin/make -f
# -*- makefile -*-

DICT_LANG=kk

build: build-stamp

build-stamp:
	dh_testdir
	cat words | prezip > $(DICT_LANG).cwl
	gzip $(DICT_LANG).cwl
	# remove upstream hashfile
	[ ! -f $(DICT_LANG).rws ] || rm -f $(DICT_LANG).rws
	touch $(DICT_LANG).rws
	touch $(DICT_LANG).compat
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f $(DICT_LANG).cwl* $(DICT_LANG).rws $(DICT_LANG).compat
	rm -f build-stamp
	dh_clean

binary-indep: build
	dh_testdir
	dh_testroot
	dh_prep
	installdeb-aspell
	dh_installdirs
	dh_install
	dh_link
	dh_installchangelogs 
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build

binary: binary-arch binary-indep

.PHONY: build clean binary-arch binary-indep binary
