#!/usr/bin/make -f
# -*- makefile -*-

DICT_LANG=kk

%:
	dh $@

override_dh_auto_build:
	cat words | prezip > $(DICT_LANG).cwl
	gzip $(DICT_LANG).cwl
	# remove upstream hashfile
	[ ! -f $(DICT_LANG).rws ] || rm -f $(DICT_LANG).rws
	touch $(DICT_LANG).rws
	touch $(DICT_LANG).compat

override_dh_auto_clean:
	rm -f $(DICT_LANG).cwl* $(DICT_LANG).rws $(DICT_LANG).compat
	dh_clean

override_dh_auto_install:
	installdeb-aspell
